<div class="container">
  <div>
    <ul class="breadcrumb">
      <li><a [routerLink]="['main']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
      <li><a [routerLink]="['activities']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Activities</a></li>
      <li><a [routerLink]="['myJob']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">My Job</a></li>
      <li><a [routerLink]="['myPost']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">My Post</a></li>
      <li><a [routerLink]="['notification']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Notification</a></li>
      <li><a [routerLink]="['newPost']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Add New Post</a></li>
      <li><a *ngIf="auth.isAuthenticated()" (click)="auth.logout()" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Logout</a></li>


    </ul>
  </div>
  <div class="row">
    <div class="panel panel-default col-sm-2" style="overflow:hidden">
      <div class="panel-body">
       <img src='{{loggedInUser.picture}}}' />
        <p>{{loggedInUser.nickname}}</p>
        <p>{{loggedInUser.name}}</p>
      </div>


    </div>
    <div class="col-sm-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>